.searchWrapper {
  &.float {
    position: fixed;
    top: 50px;
    z-index: 2;
  }
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 1);
  z-index: 10;

  box-shadow: 1px 0 2px hsla(0, 0%, 90%, 0.2), 1px 0 10px hsla(0, 0%, 80%, 0.2),
    1px 0 20px hsla(0, 0%, 74%, 0.2), 2px 0 30px hsla(0, 0%, 69%, 0.2),
    3px 0 40px hsla(0, 0%, 77%, 0.2);
}

.inputButton {
  display: flex;
  user-select: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  max-width: 300px;

  &:hover {
    background: #f6f6f6;
  }

  svg {
    margin-right: 10px;
    width: 20px;
  }
}

.textWrap {
  width: auto;
  max-width: 95%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: start;
  display: inline-block;
}

.dropdownWrapper {
  position: absolute;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  border: 1px solid rgba(222, 222, 222, 0.5);
  //backdrop-filter: blur(10px);
  //-webkit-backdrop-filter: blur(10px);
  margin-top: 5px;
  //z-index: 1;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-color: red orange;

  .dropdownElement {
    display: flex;
    position: relative;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: start;
    cursor: pointer;

    padding: 5px 10px;
    font-size: 15px;

    &:nth-child(1) {
      border-radius: 10px 10px 0 0;
    }

    &:nth-last-child(1) {
      border-radius: 0 0 10px 10px;
    }

    &:only-child {
      border-radius: 10px;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }

    &.highlighted {
      background: rgba(229, 229, 229, 0.8);
    }

    svg {
      margin-right: 10px;
      width: 15px;
    }
  }
}

.searchButton {
  display: flex;
  background-color: #e36158;
  border-radius: 30px;
  padding: 10px 20px;
  color: white;

  &:hover {
    background-color: #cb4b43;
  }

  svg {
    margin-right: 7px;
    width: 15px;
  }
}

.separator {
  align-self: center;
  height: 1px;
  width: 40%;
  background: rgba(126, 126, 126, 0.5);
  margin: 10px 0;
}

.separatorVertical {
  height: 100%;
  width: 1px;
  background: rgba(126, 126, 126, 0.3);
  margin: 0 5px;
}
